$magenta-100: #FAC3D2;
$magenta-200: #D8849A;
$magenta-300: #CB5D7A;
$magenta-base: #B43757;
$magenta-500: #982341;
$magenta-600: #78132E;
$blue-100: #D8F3F9;
$blue-200: #AAE2F1;
$blue-300: #55BCD7;
$blue-base: #2691B5;
$blue-500: #095576;
$blue-600: #003E5B;
$gray-100: #E2D5D8;
$gray-200: #C8B8BC;
$gray-300: #675D60;
$gray-400: #342F30;
$gray-500: #181515;
$yellow-100: #FBF1DE;
$yellow-200: #F4DEB8;
$yellow-base: #E4CDA4;
$yellow-400: #BAA682;
$yellow-500: #2E2C28;

$color-bg: $yellow-100;
$color-text: $yellow-500;

$base-font-size: 16px;
$base-line-height: 1.5;
$base-spacing: $base-font-size * $base-line-height;
